extends layout

block pageTitle
  title= "Admin Page"

block content
  .content-wrapper.page-home
    .header.flex-container
      .logo
        | Back Office
      .right
        .name #{username}
        button.logout-btn.btn.btn-light(type="button") Logout

    .tab-wrapper
      ul#myTab.nav.nav-tabs(role="tablist")
        li.nav-item
          a#user-tab.nav-link.active(data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="true") Users
        li.nav-item
          a#file-tab.nav-link(data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false") Files
      #myTabContent.tab-content
        #user.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="user-tab")
          button#create-user-btn.btn.btn-primary(type="button" data-toggle="modal" data-target="#editAndCreateModal" data-action="create" ) Create User
          table.table.user-table
            thead
              tr
                th(scope="col") #
                th(scope="col") Name
                th(scope="col") E-mail
                th(scope="col") Password
                th(scope="col") Create Time
                th(scope="col") Update Time
                th(scope="col") Actions
            tbody
        #file.tab-pane.fade(role="tabpanel" aria-labelledby="file-tab")
          .upload-wrapper
            form(action="/myfiles" method="post" enctype="multipart/form-data")
              input(type="file" name="myfile")
              button#file-upload-submit.btn.btn-primary(type="submit") Confirm
   
    //Modal
    #editAndCreateModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="editAndCreateModalLabel" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5#editAndCreateModalLabel.modal-title Edit User:
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            form
              .form-group
                label.col-form-label(for="username") Username:
                input#username.form-control(type="text")
              .form-group
                label.col-form-label(for="email") E-Mail:
                input#email.form-control(type="text")
              .form-group
                label.col-form-label(for="password") Password:
                input#password.form-control(type="password")
              .form-group
                label.col-form-label(for="confirmPassword") Confirm Password:
                input#confirm-password.form-control(type="password")
              
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
            button#user-create-submit.btn.btn-primary(type="button") Confirm
            button#user-edit-submit.btn.btn-primary(type="button") Confirm
    
    // Error Modal
    #deleteUserModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="deleteUserModal" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Delete User: 
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            | This action is not able to recover!<br>Are you sure want to delete this user?
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
            button.btn.btn-primary#user-delete-submit(type="button") Confirm
    

block scripts
  script(src="/javascripts/index.js")