body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button
  cursor pointer

.flex-container
  display flex

/**** Pages ****/

// Login
.form-wrapper
  width 450px
  margin 150px auto 0px auto

.page-login
  .btn-wrap
    margin-top 30px
  .page-title
    font-size 1.4em
    font-weight bold
    margin-bottom 30px
  .btn-secondary
    margin-right 15px
  #username
    margin-bottom 20px
  
// Home Page (Index)
.page-home
  .header
    display flex
    padding-left 50px
    padding-right 50px
    justify-content space-between
    align-items center
    height 60px
  .right
    height 100%
    display flex
    align-items center
    justify-content space-between
    .name
      margin-right 20px
  .tab-wrapper
    padding-top 100px
    padding-left 50px
    padding-right 50px
  .table
    button + button
      margin-left 15px
  button#create-user-btn
    margin-top 20px
    margin-bottom 20px

// Common
.error-msg
  margin-top 10px
  color: red